<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Node app
    <form action="/channel" method="POST" style="width: 300px; text-align: right;">
        <div style="margin-bottom: 10px">
            <label>
                Name
                <input type="text" name="name" maxlength="100" required>
            </label>
        </div>
        <div style="margin-bottom: 10px">
            <label>
                Source
                <input type="url" name="source" maxlength="300" required>
            </label>
        </div>
        <div  style="margin-bottom: 10px">
            <label>
                Description
                <textarea name="description" maxlength="844"></textarea>
            </label>
        </div>
        <button type="submit">Create channel</button>
    </form>
    <a href="/logout">Logout</a>
</body>
</html>
